
@font-face {
    src: url("../fuentes/SanFrancisco/SF-Pro-Display-Light.otf");
}

@font-face {
    src: url("../fuentes/SanFrancisco/SF-Pro-Display-Medium.otf");
}

@font-face {
    src: url("../fuentes/SanFrancisco/SF-Pro-Display-Regular.otf");
}

@font-face {
    src: url("../fuentes/SanFrancisco/SF-Pro-Display-Bold.otf");
}